@model PhonesAndPeople.Models.IndexViewModel
@using PhonesAndPeople.Helpers
@using PhonesAndPeople.Models
@Scripts.Render("~/highslide.js")
@{
    ViewBag.Title = "Список пользователей";
}

<h4>Телефонный справочник</h4>
@*@using (Ajax.BeginForm("ShowPpl", new AjaxOptions { UpdateTargetId = "olo" })) //updateTargetId элемент html в который будет загружать ответ
    {*@
<h2>Поиск</h2>
<table id="search-field">
    <tr>
        <th>
            Префикс
        </th>
        <th>
            Имя
        </th>
        <th>
            Фамилия
        </th>
    </tr>
    <tr>
        <td>
            <input type="text" name="fName" class="fname" />
        </td>
        <td>
            <input type="text" name="sName" class="sname" />
        </td>
        <td>
            <input type="text" name="lName" class="lname" />
        </td>
        <td>
            <input type="submit" value="Поиск" class="submit" />
        </td>
    </tr>
</table>

<table id="olo">
    <tbody class="person-data-header">
        <tr>
            <th>
                Фото
            </th>
            <th>
                <a id="sortFname" class="sort" onclick="sortAttr(1)">
                    Префикс
                </a>
            </th>
            <th>
                <a id="sortSname" class="sort" onclick="sortAttr(2)">
                    Имя
                </a>
            </th>
            <th>
                <a id="sortLname" class="sort" onclick="sortAttr(3)">
                    Фамилия
                </a>
            </th>
            <th>
                <a id="sortDob" class="sort" onclick="sortAttr(4)">
                    Дата рождения
                </a>
            </th>
            <th></th>
        </tr>
    </tbody>
    <tbody class="person-data">
        @foreach (var item in Model.People)
        {
            <tr>
                <td>
                    <a href=@item.PictureBig.ToString() class="highslide" onclick="return hs.expand(this, src: @item.PictureBig.ToString())">
                        <img class="picture" src=@item.Picture.ToString() alt="Image" onclick="enlargeImg(@item.PictureBig.ToString())" />
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecondName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoB)
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("ShowPeople", new { page = x }))
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("input.submit").click(function (event) {
                //alert("Handler for submit was called.");
                hideElems();
            });

            $(".sort").click(function (event) {
                //alert("Handler for submit was called.");
                sortAttr();
            });
        });
        function hideElems() {
                //alert("hideElems func is called.");
                $(".btn-group").css('display', 'none');
                $.ajax({
                    url: "ShowPpl",
                    method: "POST",
                    data: { "fName": $("input.fname").val(), "sName": $("input.sname").val(), "lName": $("input.lname").val() },
                    success: function (result) {
                        //alert("succes handler is called.");
                        $('#olo').html(result);
                    }
                });
        }
        function sortAttr(num) {
            $(".btn-group").hide();
            var n;
            //alert("FNameSort = " + ViewBag.FNameSort);
            if (num === 1)
                n = '@ViewBag.FNameSort';
            if (num == 2)
                n = '@ViewBag.SNameSort';
            if (num == 3)
                n = '@ViewBag.LNameSort';
            if (num == 4)
                n = '@ViewBag.Dob';


            alert("inside sortAttr n=" + n);
            $.ajax({
                url: "ShowPpl",
                method: "POST",
                data: {"sortOrder": n, "fName": $("input.fname").val(), "sName": $("input.sname").val(), "lName": $("input.lname").val() },
                success: function (result) {
                    //alert("succes handler is called.");
                    $('#olo').html(result);
                }
            });
        }
    </script>
}
